.content{
    display: flex;

    &__skills{
        margin: 5px;
        border-radius: 19px;
        display: inline-block;
        background: #4b5eaa;
        color: #fff;
    
        &>p{
            text-align: center;
            font-size: 16px;
            padding: 10px;
        }
    }

    &__item--info{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    &--info{
        padding: 0px 30px;
        word-wrap: break-word;
    }

    &__item{
        padding: 30px 20px 20px 50px;
    }

    &__list{
        list-style-image: url(img/circle.png);
        padding: 20px 20px;
    }

    &__list>li{
        padding: 10px 0px;
    }

    &__list>li>p{
        color: #4b5eaa;
    }

    &__list.work:before{
        content: "2015 - 2017";
        color: #666;
    }

    &__list.work:after{
        content: "Юманс - ВЦ";
        color: #666;
    }

    &__list.education1:before{
        content: "2011 - 2015";
        color: #666;
    }

    &__list.education1:after{
        content: "Математика и компьютерные науки";
        color: #666;
    }

    &__list.education2:before{
        content: "2015 - 2017";
        color: #666;
    }

    &__list.education2:after{
        content: "Прикладная математика и информатика";
        color: #666;
    }

    &__marker{
        display: flex;
        align-items: center; 
        padding: 0px 0px 20px 0px;

        &.profile:before {
            margin-right: 20px;
            background-image: url(img/info.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
        }

        &.interested:before {
            margin-right: 20px;
            background-image: url(img/inter.png);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
        }

        &.awwards:before {
            margin-right: 20px;
            background-image: url(img/awwards.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
        }

        &.work:before {
            margin-right: 20px;
            background-image: url(img/case.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
        }

        &.education:before {
            margin-right: 20px;
            background-image: url(img/education.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
        }

        &.skills:before {
            margin-right: 20px;
            background-image: url(img/skills.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
        }
    }

    &__marker:before{
        content: "";
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        background-size: 50%;
        background: #4b5eaa;
    }

    &__sidebar{
        width: 450px;
        display: flex;
        flex-wrap: wrap;
        align-content:stretch;
        background: #fbfbfb;
        
        &__list{
            display: flex;
        }
        
        &__interested{
            list-style: none;
            text-align: center;
        }

        &__interested:before{
            content: "";
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: inline-block;
            background-size: 50%;
            border: 2px solid #4b5eaa;
        }

        &__interested.code:before{
            background-image: url(img/code.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        &__interested.gaming:before{
            background-image: url(img/game.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        &__interested.soccer:before{
            background-image: url(img/soccer.png);
            background-repeat: no-repeat;
            background-position: center;
        }

    }
    
    &__main{
        display: flex;
        flex-wrap: wrap;
        align-content:stretch;
        width: 950px;
        
    }
}